#article-2{
    #logo-container{
        display: flex;
        justify-content: center ;

        img{height: 10rem;}
    }

    #app-images-container{
        display: flex;
        flex-direction: column;
        align-items: center;

        img{
            width: 70%;
        }
    }
}