@import "../../utils/variables.scss";

#main-list-articles {
    height: 80vh;
    width: 27rem;
    background-image: url("./menu.svg");
    background-position: left;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    grid-template-columns: 70% 1fr;

    ul {
        list-style: none;
        height: 100%;
        margin-block: 0px;
        padding-inline-start: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        li {
            display: flex;
            justify-content: space-evenly;
            border-radius: 22px;
            margin-left: 0.6rem;

            &:hover {
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                transform: translateY(2px);
                cursor: pointer;
            }

            span {
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 100px;
                background-color: $grey;
                align-self: center;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;

                p {
                    margin: 0;
                }
            }

            p {
                user-select: none;
            }

        }
    }

    .arrow-slide {
        width: 3rem;
        height: 3rem;
        border: none;
        margin-left: 1rem;
        border-radius: 100px;
        cursor: pointer;
        align-self: center;
        display: flex;
        justify-content: center;
        background-color: transparent;

        &:focus {
            outline: none;
            animation: arrow-left-right 1s linear infinite;
        }

        &:hover {
            animation: arrow-left-right 1s linear infinite;
        }

        img {
            width: 80%;
            height: 80%;
            user-select: none;
        }
    }

    #to-left {
        transform: rotate(-90deg);

        &:active {
            animation: slide-liste-articles 1s;
        }
    }
}

@keyframes arrow-left-right {

    0%,
    100% {
        transform: translateX(0px) rotate(-90deg);
    }

    50% {
        transform: translateX(6px) rotate(-90deg);
    }
}

@keyframes slide-liste-articles {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-18rem);
    }
}