@import "../../utils/variables.scss";

.main-list-articles {
    height: 65vh;
    width: 27rem;
    grid-column: 1;
    grid-row: 1;
    background-image: url("./menu.svg");
    background-position: left;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    display: grid;
    grid-template-columns: 70% 1fr;

    ul {
        list-style: none;
        height: 100%;
        margin-block: 0px;
        padding-inline-start: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        li {
            display: flex;
            gap: 3rem;
            border-radius: 22px;
            margin-left: 0.6rem;
            background-color: $indigo;
            color: $grey;

            &:hover {
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                transform: translateY(2px);
                cursor: pointer;
            }

            span {
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 100px;
                align-self: center;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 1rem;

                p {
                    margin: 0;
                }
            }

            #is-selected {
                background-color: $grey;
                color: $indigo;
            }

            p {
                user-select: none;
            }

        }
    }

    .arrow-slide {
        width: 3rem;
        height: 3rem;
        border: none;
        border-radius: 100px;
        cursor: pointer;
        align-self: center;
        justify-self: center;
        margin-left: 2rem;
        display: flex;
        justify-content: center;
        background-color: transparent;

        img {
            width: 80%;
            height: 80%;
            user-select: none;
            align-self: center;
        }
    }

    #to-left {
        rotate: 0deg;
        transition: transform 1s, rotate 1s;

        &:focus {
            outline: none;
            animation: arrow-left-right 1s linear infinite;
        }

        &:hover {
            animation: arrow-left-right 1s linear infinite;
        }
    }

    #to-right {
        rotate: 180deg;
        transition: transform 1s, rotate 1s;

        &:focus {
            rotate: 180deg;
            outline: none;
            animation: arrow-left-right 1s linear infinite;
        }

        &:hover {
            rotate: 180deg;
            animation: arrow-left-right 1s linear infinite;
        }
    }
}

#menu-expanded {
    transition: transform 1.5s, position 1s;
}

#menu-not-expanded {
    transform: translateX(-19rem);
    transition: transform 1.5s, position 1s;
}

.menu-articles-fixed {
    position: fixed;
    left: 0;
    top: 10%;
}

.menu-articles-unfixed {
    position: relative;
}

.menu-articles-bottom {
    align-self: end;
}

.menu-articles-top {
    align-self: start;
}


@keyframes arrow-left-right {

    0%,
    100% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(6px);
    }
}